.list-icon {
    font-size: 2rem;
}

.footer-icon {
    font-size: 1.5rem;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

@media only screen and (max-width: 770px) {
    .footer {
        position: relative;
    }
}